:root {
    --bg-primary: #2F3B6D;          /* Dark Blue */
    --bg-secondary: #394882;        /* lighter variation */
    --bg-header: linear-gradient(135deg, #2F3B6D, #394882);

    --text-primary: #F2F3F6;        /* Light Gray */
    --text-secondary: #d6d8df;
    --text-muted: #b8bcc9;

    --accent: #2AF6A2;              /* Cyan-Green */
    --accent-hover: #1ee08f;

    --card-shadow: #2AF6A2;

}

    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: var(--bg-primary);
    color: var(--text-primary);
    line-height: 1.6;
}


header {
    position: relative;
    background: var(--bg-primary);
    color: var(--text-primary);
    padding: 6rem 2rem;
    overflow: hidden;
}
.bg-animation {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 0;
}


.bg-animation span {
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--accent);
    border-radius: 50%;
    opacity: 0.5;
    animation: float 8s linear infinite;
}

/* Random positions */
.bg-animation span:nth-child(1) { top: 20%; left: 10%; animation-delay: 0s; }
.bg-animation span:nth-child(2) { top: 40%; left: 80%; animation-delay: 2s; }
.bg-animation span:nth-child(3) { top: 70%; left: 30%; animation-delay: 4s; }
.bg-animation span:nth-child(4) { top: 10%; left: 60%; animation-delay: 1s; }
.bg-animation span:nth-child(5) { top: 85%; left: 50%; animation-delay: 3s; }
.bg-animation span:nth-child(6) { top: 60%; left: 15%; animation-delay: 5s; }


@keyframes float {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-40px) scale(1.3);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

/* Keep text above animation */
.container{
    position: relative;
    z-index: 1;
}
header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    color: var(--text-secondary);
    font-size: 1.2rem;
}

section {
    padding: 40px 20px 40px 20px;
}

.about-layout {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto;
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

/* Make About Me span two rows */
.about {
  grid-row: 1 / 3;
}

/* Card styling */
.card {
  background: var(--bg-secondary);
  padding: 2rem;
  border-radius: 16px;
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0) 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset   ;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    
}
.skill-con{
    background-color: var(--bg-secondary);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0) 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset   ;

}
h2 {
    margin-bottom: 20px;
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
    display: inline-block;
    padding-bottom: 5px;
}

.leadership ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.leadership li {
  margin-bottom: 0.5rem;
}
.project-wrapper {
    position: relative;
    overflow: hidden;
}

.project-grid {
   display: flex;
    gap: 2rem;
    width: max-content;
    will-change: transform;
    padding: 1rem 0;
}
.project-grid::-webkit-scrollbar {
    display: none;
}


/* LEFT FADE */
.project-wrapper::before,
.project-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

/* Left side */
.project-wrapper::before {
    left: 0;
    background: linear-gradient(
        to right,
        var(--bg-primary),
        transparent
    );
}

/* Right side */
.project-wrapper::after {
    right: 0;
    background: linear-gradient(
        to left,
        var(--bg-primary),
        transparent
    );
}

.project-card {
    min-width: 320px;   /* Controls card size */
    max-width: 350px;
    flex: 0 0 auto;
    background: var(--bg-secondary);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0) 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset   ;
    transition: 0.3s ease;
}

.card:hover,
.project-card:hover {
     transform: translateY(-10px);
    box-shadow:var(--card-shadow) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset   ;
}


.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;

}

.skill-item {
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.skill-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s ease;
}

.skill-item:hover img {
    transform: scale(1.1);
}

.tooltip {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--accent);
    color: #0f172a;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 6px;
    opacity: 0;
    transition: 0.3s ease;
    white-space: nowrap;
}

.skill-item:hover .tooltip {
    opacity: 1;
    bottom: -30px;
}

.sub-heading {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: var(--text-secondary);
    font-weight: 600;
    text-align: center;
}

ul {
    list-style: none;
    margin-top: 10px;
}

ul li {
    margin-bottom: 8px;
    color: var(--text-secondary);
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--accent-hover);
}

footer {
    text-align: center;
    padding: 30px 20px;
    background: var(--bg-secondary);
    color: var(--text-muted);
    margin-top: 40px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.2rem;
    }

    section {
        padding: 60px 20px;
    }
}
